  /* Colors

  light orange: #E6A157
  orange: #EB8242
  dark orange: #C9753D
  green: #9DAB86
  dark green: #4F5741

  light gray: #F3F3F3
  gray: #EBE6E6

  */

  /* Image url's

  header: https://cdn.pixabay.com/photo/2017/01/24/03/53/plant-2004483_960_720.jpg
  kitchen: https://cdn.pixabay.com/photo/2016/11/29/05/55/kitchen-1867663_960_720.jpg
  bedroom: https://cdn.pixabay.com/photo/2018/01/24/15/08/live-3104077_960_720.jpg
  livingroom: https://cdn.pixabay.com/photo/2017/08/08/00/27/home-2609600_960_720.jpg

  */